.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

*.md
!README.md
Тема_курсовой
Статус_проекта_для_созвона.md

.env
.env.*
.venv/
venv/
env/

data/raw/
data/processed/
*.parquet

reports/tables/stage4_predictions.csv
*.pt
*.pth
*.pkl
*.joblib
*.docx
Литература/**/*.txt

Пример_на_fast_api_по_работе_с_Т_инвестициями/
Примеры работ/
Предварительная_информация/
Предварительная_информация/Шаблоны_титульных_листов_Итогового_отчета_программный_проект_ПМИ/
